<!-- /brands-carousel -->
<section class="content fullwidth hidden-xs">
  <div class="container">
    <div class="row">
      <div class="instafeed-wrapper">
        <h3 class="title-vertical"><span>{{ "general.feed.instagram_title" | t }}</span></h3>
        <div id="instafeed" class="instafeed"></div>
      </div>
    </div>
  </div>
</section>