<!-- CONTENT section -->
<div id="pageContent">
  <div class="container">				
    <!-- title -->
    <div class="title-box">
      <h1 class="text-center mega">{{ "general.404.title" | t }}</h1>
    </div>
    <!-- /title -->		
    <div class="text-center"> 
      <img src='{{ "page-404-icon.png" | asset_url }}' alt="empty cart icon" class="img-responsive-inline" />
      <div class="divider divider--lg"></div>		         
      <div class="text-with-button">
        <span>{{ "general.404.subtext" | t }} </span>
        <a class="btn btn--ys" href="/"><span class="icon icon-home"></span>{{ "general.404.button" | t }}</a>
      </div>

    </div>					
  </div>
</div>
<!-- End CONTENT section -->