<div class="overview-page health">
        <section class="container-full ambassador-temp-header">
            <div class="container">
                <div class="container-inner">
                	<h1><a href="/" style="color:#c7dd32">{{ page_title }}</a></h1>
                </div>
            </div>
        </section>
		<section class="container-full text-font-family">
			<div class="container">
				<div class="container-inner">
					                    <!--h1>The Vivo Club</h1-->
                    <div class="starthere-upcontent">
                        <p style="text-align: center;"><span style="font-size: 18pt;">Hey! Yes you.</span></p>
<p style="text-align: center;"><span style="font-size: 18pt;">We want you to know that we value your custom. We know that there are many different health stores out there, but you continue to choose us.</span></p>
<p style="text-align: center;"><span style="font-size: 18pt;">You trust in our products, our company values, and our dedication to becoming the most trustworthy health and fitness retailer on the planet.</span></p>
<p style="text-align: center;"><span style="font-size: 18pt;"><strong><em>That means the world to us.</em></strong></span></p>
<p style="text-align: center;"><span style="font-size: 18pt;">As a Vivo Life customer, you’re part of an exclusive group of health and fitness enthusiasts that like to know exactly what you’re putting into your body. You don’t settle for second best. You don’t compromise. We love that about you.</span></p>
<p style="text-align: center;"><span style="font-size: 18pt;">So, we’ve been thinking. How can we say thank you?</span></p>
                    </div>
               						</div>
			</div> 
		</section>
        <section class="container-full introducing_ambassador_title">
			<h3>Here is what you get:</h3>
		</section>
        <section class="container-full text-font-family">
			<div class="container">
				<div class="container-inner">
                    <div class="starthere-upcontent">
                        <ul>
<li><span style="font-size: 14pt;"><strong>Sign up today to start earning points<br>
</strong></span></li>
<li><span style="font-size: 14pt;"><strong>For every purchase at Vivo Life we give you 5% back so you can spend it on your next purchase.</strong></span></li>
<li><span style="font-size: 14pt;"><strong>We will send you weekly our best blogs, guides and tips tailored to you form Vivo team and expert special guests.</strong></span></li>
<li><span style="font-size: 14pt;"><strong>Be the first to be notified about new products and special offers before anyone else!</strong></span></li>
</ul>
<p><span style="font-size: 14pt;">if you don’t already have an account, create one now to earn 100 free points!</span></p>
                        <a class="buy-btn clickonfunctionclub " href="#">JOIN NOW - It's FREE</a>
                    </div>
				</div>
			</div> 
		</section>
        <section class="protein-landing-page">
            <section class="ambassadors" id="ambassadors">
                <div class="container">        
                    <div class="ambassador-slider2">
                      <div id="vivo-club-slider" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item">
     <div class="content">
                                    <div class="quote">
                                        <p>Vivo life are Fabulous!<br>
    Vivo Life is my favorite shop to buy all I need to lead a healthy lifestyle! I
    find their products way better than anything I can find in Europe, both
    offline and online. Amazing customer service, fast shipping and a company
    with a heart. I highly recommend them! </p>
                                    </div>
                                    <!-- /.quote -->
                                    <h4>LOUISA F.</h4>
                                   
                                </div>
    </div>
    <div class="item">
     <div class="content">
                                    <div class="quote"><p>Vivo is one of the best shop which has everything what’s needed for active
    person in one place. Vivo team made great job to select the best ecological
    products for body nutrition from inside and outside. As well delivery is very
    fast so Vivo life shop really worth perfect service name.</p></div>
                                    <!-- /.quote -->
                                    <h4>RASINA D.</h4>
                                   
                                </div>
      </div>
      <div class="item">
       <div class="content">
                                    <div class="quote"><p>Vivo Life are my go to for almost any health products that I purchase, as well as referring all of my clients there so they can get the very best products too. I don’t know where I would be if it wasn’t for Vivo Life being able to make sure that I get the supplies I need to fuel my body the way it deserves to be fuelled!</p></div>
                                    <!-- /.quote -->
                                    <h4>Gemma Dawkins, Certified Health Coach and Track Athlete (Team GB)</h4>
                                    
                                </div>
                                <!-- /.content -->
      </div>
      <div class="item">
       <div class="content">
                                    <div class="quote"><p>Everything you need, all under one roof and all the hard work done for you, with great explanations on products and how best to use them.</p></div>
                                    <!-- /.quote -->
                                    <h4>Sharon F, verified customer</h4>
                                   
                                </div>
                                <!-- /.content -->
      </div>
      <div class="item active">
      <div class="content">
                                    <div class="quote"><p>Vivo Life are awesome! The best range of high quality products I have ever come across. Fast delivery, excellent customer service, and great advice too. Love the blog. Easily 5 stars!</p></div>
                                    <!-- /.quote -->
                                    <h4>Isaac W, Verified Customer</h4>
                                    
                                </div>
                                <!-- /.content -->
      </div>
      
      
    </div>
                        <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  </div>
  
                      
                      
                      
                  </div>   <!-- ambassador-slider -->
                </div>
                <!-- /.container -->
            </section>
        </section>
        <section class="features parallax-window" id="features">
                <div class="features-inner">
                    <div class="container">
                       
                        <header>
                            <h2>Shoping At Vivo</h2>
                        </header>
            <div style="text-align:center;" class="starthere-upcontent">
                                <p style="font-size:18pt!important;">When it comes to choosing health products our guiding motto is simple.<br>
                                <strong>"If we wouldn't use it ourselves, we certainly wouldn't sell it to you"</strong></p>
                        </div>
                        <div class="features-container">
                            <div class="feature-icons">
                                <div class="icon-3">
                                    <div class="icon-content">
                                        <img class="icon" alt="Build" src="https://www.vivolife.co.uk/wp-content/themes/vivo/images/landing-icon/save-times.png">
            
                                        <h3>SAVE TIME</h3>
            
                                        <p>We have searched the globe for the best products from the most trusted brands and
brought them to one place to save you the time searching
                                        </p>
                                    </div>
                                </div>
                                <!-- /.icon-3 -->
                                <div class="icon-3">
                                    <div class="icon-content">
                                        <img class="icon" alt="Repair" src="https://www.vivolife.co.uk/wp-content/themes/vivo/images/landing-icon/diet.png">
            
                                        <h3>DIET</h3>
            
                                        <p>Whether you are vegan, paleo, gluten free or dairy free, just look for the symbol and find the
right products for you.
                                        </p>
                                    </div>
                                </div>
                                <!-- /.icon-3 -->
                                <div class="icon-3">
                                    <div class="icon-content">
                                        <img class="icon" alt="Recover" src="https://www.vivolife.co.uk/wp-content/themes/vivo/images/landing-icon/trusted.png">
            
                                        <h3>TRUSTED</h3>

            
                                        <p>We choose brands and products that have nothing to hide, and have put all the vital
information in one place so you can make the right decisions. 
                                        </p>
                                    </div>
                                </div>
                                <!-- /.icon-3 -->
                                <div class="icon-3">
                                    <div class="icon-content">
                                        <img class="icon" alt="Recover" src="https://www.vivolife.co.uk/wp-content/themes/vivo/images/landing-icon/junk-free.png">
            
                                        <h3>JUNK FREE</h3>
            
                                        <p>No fillers, binders, or artificial ingredients, we have checked the labels for you.
                                        </p>
                                    </div>
                                </div>
                                <!-- /.icon-3 -->
                            </div>
                            <!-- /.feature-icons row -->
            
                            <div class="feature-icons row-2">
                             <div class="icon-2">
                                    <div class="icon-content">
                                        <img class="icon" alt="Perform" src="https://www.vivolife.co.uk/wp-content/themes/vivo/images/landing-icon/correct-storage.png">
                                        <!-- /.icon -->
            
                                        <h3>CORRECT STORAGE</h3>
            
                                        <p>Products can quickly deteriorate if exposed to light, heat or humidity. We
guaranteed that all products are stored in optimum conditions. 
                                        </p>
                                    </div>
                                </div>
                                <!-- /.icon-2 -->
                                <div class="icon-2">
                                    <div class="icon-content">
                                        <img class="icon" alt="Nourish" src="https://www.vivolife.co.uk/wp-content/themes/vivo/images/landing-icon/sustainable.png">
                                        <!-- /.icon -->
            
                                        <h3>SUSTAINABLE</h3>
            
                                        <p>We use recyclable packaging and take every possible step to minimise our
environmental impact.
                                        </p>
                                    </div>
                                </div>
                                <!-- /.icon-2 -->
                                <div class="icon-2">
                                    <div class="icon-content">
                                        <img class="icon" alt="Nourish" src="https://www.vivolife.co.uk/wp-content/themes/vivo/images/landing-icon/learn.png">
                                        <!-- /.icon -->
            
                                        <h3>LEARN</h3>
            
                                        <p>Our ultimate aim is to inspire, educate and give you the tools you need to look, feel and perform your best!
                                        </p>
                                    </div>
                                </div>
                                <!-- /.icon-2 -->
                            </div>
                            <!-- /.feature-icons -->
                            <img alt="Running Trainer" src="https://www.vivolife.co.uk/wp-content/uploads/2016/03/products-oimages.png">
                            <center><a class="buy-btn" style="font-size: 3rem;" href="/">JOIN NOW - It's FREE</a></center>
                        </div>
                        <!-- /.features-container -->
                    </div>
                    <!-- /.container -->
                </div>
            <!-- .features-container -->
            <img class="trainer" alt="Running Trainer" src="https://www.vivolife.co.uk/wp-content/themes/vivo/images/joicy.png">
        </section>
        
		
		<!-- .sport-specific -->
        <section class="guarantee">
            <div class="container">
                <div class="guarantee-container">
                    <div class="stamp">
                        <img alt="Guarantee" class="money-back" src="https://www.vivolife.co.uk/wp-content/themes/vivo/images/landing-page/stamp.png">
                        <img alt="Verified secure checkout" class="verified" src="https://www.vivolife.co.uk/wp-content/themes/vivo/images/landing-page/verified-icon.png">
                    </div>
                    <!-- /.stamp -->
                    <div class="content">
                        <h2>TRUST US</h2>
                        <p>We believe in our products so much we offer a <strong>30 day money back guarantee</strong> on everything we sell. If this product doesn’t meet your expectations, simply send it back to us for a full refund.&nbsp;No questions asked</p>
                        <!--p>We understand that with so much choice out there choosing the right protein can
                           be DIFFICULT so because we believe in our product so much we are offering you a
                            <span>30 day money back guarantee</span>. If this product doesn’t meet your expectations,
                            simply send it; back to us for a full refund. we will even arrange pick up for
                            you.</p-->
                    </div>
                    <!-- /.content -->
                    
                </div>
                <!-- /.guarantee-container -->
            </div>
            <!-- /.container -->
        </section>
		<section class="container-full top-picks">
			<div class="container">
				<div class="container-inner">
					<h2>Join thousands of people thriving around the world</h2>

					<div class="dotted-line"></div>
<div id="sb_instagram" class="sbi sbi_col_3" data-options="{"showcaption": "1", "captionlength": "50", "captioncolor": "", "captionsize": "13", "showlikes": "1", "likescolor": "", "likessize": "13", "sortby": "none", "hashtag": "vivolifeuk, gopeform", "type": "hashtag", "hovercolor": "0,0,0", "hovertextcolor": "0,0,0", "hoverdisplay": "username,icon,date,instagram,", "hovereffect": "fade", "headercolor": "", "headerprimarycolor": "517fa4", "headersecondarycolor": "eeeeee", "disablelightbox": "false", "disablecache": "false", "location": "", "coordinates": "", "maxrequests": "5", "headerstyle": "circle", "showfollowers": "true", "showbio": "true", "carousel": "[false, false, true, false, 5000]", "imagepadding": "5", "imagepaddingunit": "px", "media": "all", "includewords": "", "excludewords": "", "sbiCacheExists": "true", "sbiHeaderCache": "false"}" data-cols="4" data-res="auto" data-num="10" data-id="1531380795" style="width:100%; padding-bottom: 10px; "> <div style="padding: 5px 10px; margin-bottom: 10px;" class="sb_instagram_header sbi_feed_type_hashtag sbi_header_type_generic"><a class="sbi_header_link" target="_blank" href="https://instagram.com/explore/tags/vivolifeuk"></a><div class="sbi_header_text"><a class="sbi_header_link" target="_blank" href="https://instagram.com/explore/tags/vivolifeuk"></a><h3 class="sbi_no_bio"><a class="sbi_header_link" target="_blank" href="https://instagram.com/explore/tags/vivolifeuk"></a><a target="_blank" href="https://instagram.com/explore/tags/vivolifeuk">#vivolifeuk&nbsp;</a><a target="_blank" href="https://instagram.com/explore/tags/gopeform">#gopeform&nbsp;</a></h3></div><div class="sbi_header_img"><div class="sbi_header_hashtag_icon"><i class="sbi_new_logo"></i></div></div>
        </div> </div>
  <!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/219018" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>   
       
              </div>
				
			</div>
		</section>
		<!-- .top-picks -->
		
	</div>
<script>
    $(function ()
    {
        $(".cboxiframe").colorbox({
          iframe:true,
          width:"90%", 
          height:"90%",
          maxWidth:"650px", 
          maxHeight:"850px",
        
        });    
    })
</script>