<div class="thanks-page">
		<div class="thanks-header">
			<div class="thanks-header-inner">
				<div class="thanks-titles">
					<section class="container-full">
			<div class="container">
                  <h1>
													THANK YOU											</h1>

											<h2><p><span style="color: #ffffff; font-size: 24px; letter-spacing: 0px;">Your order is now being processed. We’ll email you as soon as it has been dispatched.</span></p>
<p><strong><span style="letter-spacing: 0px; font-weight: bold; font-size: 40px;">SPREAD THE WORD!</span></strong></p>
<p><span style="color: #000000; font-size: 18pt; letter-spacing: -0.3px;">Help us get closer to our goal of transforming the health and performance of one million people around the world.<br>
</span></p>
</h2> 
              </div>
                  </section>
									</div>

				
					
					<div class="share-link-box">
						<div class="share-content">
						    						        <img width="85" alt="number 1" src="//cdn.shopify.com/s/files/1/1374/7199/files/1-Icon.png">
						    															<h2>SHARE US</h2>
							
															<p class="share-sub-title">Tell a friend about Vivo Life!</p>
<!--strts-->
<script>
    window['friendbuy'] = window['friendbuy'] || [];
    window['friendbuy'].push(['widget', "cIl-hWb"]);
</script>
<!--ends-->
							<div class="share-links">
								<a target="_blank" onclick="return fbs_click(500, 300, '//www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.vivolife.co.uk%2F')" href="//www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.vivolife.co.uk%2F">
									<img class="fb-share" alt="" src="//cdn.shopify.com/s/files/1/1374/7199/files/fb-share.png">
								</a>

								<a target="_blank" onclick="return tws_click(500, 300, '//twitter.com/share?url=https%3A%2F%2Fwww.vivolife.co.uk%2F')" href="//twitter.com/share?url=https%3A%2F%2Fwww.vivolife.co.uk%2F">
									<img class="tw-share" alt="" src="//cdn.shopify.com/s/files/1/1374/7199/files/tw-share.png">
								</a>
							</div>

													</div>

						<div class="share-feedback">
															<h2>THANK YOU FOR SHARING US</h2>
							
							
							
													</div>
					</div>

								
			</div>
		</div>
        <div class="referafriend">
            		        <img width="85" alt="number 2" src="//cdn.shopify.com/s/files/1/1374/7199/files/2-Icon.png">
		                
            				<h2>REFER A FRIEND</h2>
			                            <h3 style="font-size:24px; margin-bottom:20px;">Give your friends a £5 off voucher and if they make a purchase then you will get £5 too! </h3>
                             </div>
        <div class="referafriend">
            		        <img width="85" alt="number 2" src="//cdn.shopify.com/s/files/1/1374/7199/files/3-Icon1.png">
		                
            				<h2>A QUICK REVIEW</h2>
			                            <h3 style="font-size:24px; margin-bottom:20px;">Quick Review about Vivo Life!</h3>
            			<div class="container">
                <div class="container-inner">
<script type="text/javascript">
(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/JzroT1Gy1jkgj2ysaNWZcwUxRcI85wmo0IecFvEm/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
</script>
<div data-description="##SHORTDESCRIPTION##" data-image-url="//##DOMAINNAME####ITEMPHOTOURL##" data-url="https://www.vivolife.co.uk/thank-you/" data-name="thank_you_page" data-product-id="thank_you_page" class="yotpo yotpo-main-widget" data-yotpo-element-id="1"><div style="visibility: hidden;" class="yotpo-display-wrapper "> <div class="yotpo-label yotpo-small-box "> <span class="yotpo-logo-title"> <a href="http://my.yotpo.com/landing_page?redirect=https%3A%2F%2Fwww.yotpo.com%2Fverified-product-reviews-by-yotpo&amp;utm_campaign=branding_link_reviews_widget_v2&amp;utm_medium=widget&amp;utm_source=vivolife.co.uk" target="_blank" class="">Reviews by</a> </span> <div class="yotpo-icon-btn-big transparent-color-btn"> <a href="http://my.yotpo.com/landing_page?redirect=https%3A%2F%2Fwww.yotpo.com%2Fverified-product-reviews-by-yotpo&amp;utm_campaign=branding_link_reviews_widget_v2&amp;utm_medium=widget&amp;utm_source=vivolife.co.uk" target="_blank" class="yotpo-icon yotpo-icon-yotpo-logo"></a> </div> <div class="yotpo-clr"></div> </div> <span style="visibility: hidden;" class="yotpo-display-wrapper"> <div class="yotpo-regular-box yotpo-bottomline yotpo-bottomline-2-boxes "> <div class="yotpo-bottomline-box-1 yotpo-stars-and-sum-reviews"> <span class="yotpo-stars"> <span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <span style="" class="yotpo-sum-reviews"> <span class="font-color-gray based-on">1 Review </span> </span> <div class="yotpo-clr"></div> <div style="" class="questions pull-left"> <a class="text-m ask-question" href="#"> 0 Questions \ 0 Answers </a> </div> <div class="yotpo-default-button yotpo-icon-btn pull-right yotpo-hidden-mobile write-question-button"> <span class="yotpo-icon yotpo-icon-double-bubble"></span> <span class="yotpo-icon-button-text">ask a question</span> </div> <div class="yotpo-default-button yotpo-icon-btn pull-right yotpo-hidden-mobile write-button write-review-button"> <span class="yotpo-icon yotpo-icon-write"></span> <span class="yotpo-icon-button-text">write a review</span> </div> </div> <div class="yotpo-bottomline-box-2"> <div class="yotpo-star-distribution"> <div class="yotpo-star-distribution-content"> <div class="yotpo-distibutions-stars"> <span data-score-distribution="5" class="review-stars yotpo-distribution-clickable"> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <div class="yotpo-clr"></div> </span> <span data-score-distribution="4" class="review-stars "> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span> <div class="yotpo-clr"></div> </span> <span data-score-distribution="3" class="review-stars "> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span> <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span> <div class="yotpo-clr"></div> </span> <span data-score-distribution="2" class="review-stars "> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span> <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span> <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span> <div class="yotpo-clr"></div> </span> <span data-score-distribution="1" class="review-stars "> <span class="yotpo-icon yotpo-icon-star pull-left"></span> <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span> <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span> <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span> <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span> <div class="yotpo-clr"></div> </span> </div> <div class="yotpo-distibutions-sum-reviews"> <span data-score-distribution="5" class="yotpo-sum-reviews text-xs font-color-primary yotpo-distribution-clickable">(1)</span> <span data-score-distribution="4" class="yotpo-sum-reviews text-xs font-color-primary ">(0)</span> <span data-score-distribution="3" class="yotpo-sum-reviews text-xs font-color-primary ">(0)</span> <span data-score-distribution="2" class="yotpo-sum-reviews text-xs font-color-primary ">(0)</span> <span data-score-distribution="1" class="yotpo-sum-reviews text-xs font-color-primary ">(0)</span> </div> <div class="yotpo-distributions-graphs"> <div data-score-distribution="5" class="yotpo-star-distribution-graph yotpo-distribution-clickable"> <div class="yotpo-star-distribution-graph-background"></div> <div class="yotpo-star-distribution-score-wrapper"> <div style="width: 100.0%;" class="yotpo-star-distribution-graph-score"></div> </div> </div> <div data-score-distribution="4" class="yotpo-star-distribution-graph "> <div class="yotpo-star-distribution-graph-background"></div> <div class="yotpo-star-distribution-score-wrapper"> <div style="width: 0.0%;" class="yotpo-star-distribution-graph-score"></div> </div> </div> <div data-score-distribution="3" class="yotpo-star-distribution-graph "> <div class="yotpo-star-distribution-graph-background"></div> <div class="yotpo-star-distribution-score-wrapper"> <div style="width: 0.0%;" class="yotpo-star-distribution-graph-score"></div> </div> </div> <div data-score-distribution="2" class="yotpo-star-distribution-graph "> <div class="yotpo-star-distribution-graph-background"></div> <div class="yotpo-star-distribution-score-wrapper"> <div style="width: 0.0%;" class="yotpo-star-distribution-graph-score"></div> </div> </div> <div data-score-distribution="1" class="yotpo-star-distribution-graph "> <div class="yotpo-star-distribution-graph-background"></div> <div class="yotpo-star-distribution-score-wrapper"> <div style="width: 0.0%;" class="yotpo-star-distribution-graph-score"></div> </div> </div> </div> </div> <div class="yotpo-clr"></div> <div class="yotpo-star-distribution-footer text-xs yotpo-hidden"> <span class="yotpo-star-distribution-show-all">Show all reviews</span> </div> </div> </div> <div class="yotpo-default-button yotpo-icon-btn pull-right yotpo-hidden-mobile write-question-button "> <span class="yotpo-icon yotpo-icon-double-bubble"></span> <span class="yotpo-icon-button-text">ask a question</span> </div> <div class="yotpo-default-button yotpo-icon-btn pull-right yotpo-hidden-mobile write-button write-review-button"> <span class="yotpo-icon yotpo-icon-write"></span> <span class="yotpo-icon-button-text">write a review</span> </div> <div class="yotpo-clr"></div> </div> <div class="yotpo-clr"></div> </span> <div class="write-review-wrapper write-form"> <div class="write-review yotpo-regular-box"> <div class="yotpo-header"> <div> <label class="y-label yotpo-header-title">WRITE A REVIEW</label> </div> <label class="y-label">Score:</label> <div> <span class="stars-wrapper"> <span data-score="1" class="yotpo-icon yotpo-icon-empty-star pull-left review-star"></span> <span data-score="2" class="yotpo-icon yotpo-icon-empty-star pull-left review-star"></span> <span data-score="3" class="yotpo-icon yotpo-icon-empty-star pull-left review-star"></span> <span data-score="4" class="yotpo-icon yotpo-icon-empty-star pull-left review-star"></span> <span data-score="5" class="yotpo-icon yotpo-icon-empty-star pull-left review-star"></span> </span> </div> </div> <div class="write-review-content"> <div class="form-group"> <div class="form-element"> <label class="y-label"> Title: </label> <input placeholder="" maxlength="150" name="review_title" autocomplete="off" class="y-input"> </div> <div class="form-element"> <label class="y-label"> Review: </label> <textarea placeholder="" name="review_content" class="y-input yotpo-text-box"></textarea> </div> </div> </div> <div class="yotpo-footer yotpo-animation-opacity"> <div class="socialize-wrapper"> <div class="connected">You are connected as <span class="username"></span></div> <div class="socialize"> <label class="y-label">Connect with:</label> <div> <div data-network="linkedin" class="yotpo-default-button yotpo-icon-btn"><span class="yotpo-icon yotpo-icon-linkedin pull-left"></span></div> <div data-network="google_oauth2" class="yotpo-default-button yotpo-icon-btn"><span class="yotpo-icon yotpo-icon-google pull-left"></span></div> <div data-network="twitter" class="yotpo-default-button yotpo-icon-btn"><span class="yotpo-icon yotpo-icon-twitter pull-left"></span></div> <div data-network="facebook" class="yotpo-default-button yotpo-icon-btn"><span class="yotpo-icon yotpo-icon-facebook pull-left"></span></div> </div> </div> <div class="yotpo-or"> -OR- </div> </div> <div class="connect-wrapper "> <div class="form-element name-input"> <label class="y-label">Use your name:</label> <input placeholder="" maxlength="40" name="display_name" autocomplete="off" class="y-input"> </div> <div class="form-element email-input"> <label class="y-label">Email:</label> <input placeholder="" name="email" autocomplete="off" class="y-input"> </div> <div class="yotpo-clr"></div> </div> </div> <div class="error-box yotpo-hidden"> <div class="text-wrapper"> <label class="error-text empty yotpo-hidden">Review's title &amp; body can't be empty</label> <label class="error-text score yotpo-hidden">Please enter a star rating for this review</label> <label class="error-text display_name_empty yotpo-hidden">Name field cannot be empty</label> <label class="error-text email yotpo-hidden">Invalid email</label> <label class="error-text user-already-reviewed yotpo-hidden">Your review has already been submitted.</label> <label class="error-text max_length yotpo-hidden">Max length was exceeded</label> <label class="error-text mandatory_field yotpo-hidden">Please fill out all of the mandatory (*) fields</label> </div> <div class="yotpo-icon-btn-small transparent-color-btn"><span class="yotpo-icon yotpo-icon-cross"></span></div> </div> <input type="button" value="Post" class="yotpo-default-button primary-color-btn yotpo-submit yotpo-disabled"> <div class="yotpo-preloader-wrapper"> <div class="yotpo yotpo-pre-loader"> <span class="yotpo-empty-stars"> <span class="yotpo-icon yotpo-icon-empty-star"></span> <span class="yotpo-icon yotpo-icon-empty-star"></span> <span class="yotpo-icon yotpo-icon-empty-star"></span> <span class="yotpo-icon yotpo-icon-empty-star"></span> <span class="yotpo-icon yotpo-icon-empty-star"></span> </span> <span class="yotpo-full-stars"> <span class="yotpo-icon yotpo-icon-star"></span> <span class="yotpo-icon yotpo-icon-star"></span> <span class="yotpo-icon yotpo-icon-star"></span> <span class="yotpo-icon yotpo-icon-star"></span> <span class="yotpo-icon yotpo-icon-star"></span> </span> </div> </div> <div class="yotpo-clr"></div> </div> </div> <div class="yotpo-messages"> <div data-type="share" class="yotpo-thank-you yotpo-hidden"> <div class="yotpo-icon-btn transparent-color-btn"><span class="yotpo-icon yotpo-icon-cross"></span></div> <div class="yotpo-thankyou-header text-3xl"> <span class="yotpo-icon yotpo-icon-heart"></span> <span>Thank you for posting a review!</span> </div> <div class="yotpo-thankyou-content"> <span>We value your input. Share your review so everyone else can enjoy it too.</span> </div> <div class="yotpo-thankyou-footer"> <div class="yotpo-default-button yotpo-icon-btn"> <a data-network="facebook" target="_blank" href="#" class="social-link popup-link"> <span class="yotpo-icon yotpo-icon-facebook"></span> <span class="yotpo-icon-button-text">share</span> </a> </div> <div class="yotpo-default-button yotpo-icon-btn"> <a data-network="twitter" target="_blank" href="#" class="social-link popup-link"> <span class="yotpo-icon yotpo-icon-twitter"></span> <span class="yotpo-icon-button-text">share</span> </a> </div> <div class="yotpo-default-button yotpo-icon-btn"> <a data-network="linkedin" target="_blank" href="#" class="social-link popup-link"> <span class="yotpo-icon yotpo-icon-linkedin"></span> <span class="yotpo-icon-button-text">share</span> </a> </div> <div class="yotpo-default-button yotpo-icon-btn"> <a data-network="google" target="_blank" href="#" class="social-link popup-link"> <span class="yotpo-icon yotpo-icon-google"></span> <span class="yotpo-icon-button-text">share</span> </a> </div> </div> </div> <div data-type="pending-for-review-approval" class="yotpo-thank-you yotpo-hidden"> <div class="yotpo-icon-btn transparent-color-btn"><span class="yotpo-icon yotpo-icon-cross"></span></div> <div class="yotpo-thankyou-header text-3xl"> <span class="yotpo-icon yotpo-icon-heart"></span> <span>Thank you for posting a review!</span> </div> <div class="yotpo-thankyou-content"> <span>Your review was sent successfully and is now waiting for our staff to publish it.</span> </div> </div> </div> <div class="write-question-wrapper write-form"> <div class="write-review yotpo-regular-box"> <div class="yotpo-header"> <label class="y-label yotpo-header-title">ASK A QUESTION</label> </div> <div class="write-question-content"> <div class="form-group"> <div class="form-element"> <label class="y-label">Question:</label> <textarea placeholder="" maxlength="1000" name="review_content" class="y-input yotpo-text-box"></textarea> </div> </div> </div> <div class="error-box yotpo-hidden"> <div class="text-wrapper"> <label class="error-text empty yotpo-hidden">Review's title &amp; body can't be empty</label> <label class="error-text score yotpo-hidden">Please enter a star rating for this review</label> <label class="error-text display_name_empty yotpo-hidden">Name field cannot be empty</label> <label class="error-text email yotpo-hidden">Invalid email</label> <label class="error-text user-already-reviewed yotpo-hidden">Your review has already been submitted.</label> <label class="error-text max_length yotpo-hidden">Max length was exceeded</label> <label class="error-text mandatory_field yotpo-hidden">Please fill out all of the mandatory (*) fields</label> </div> <div class="yotpo-icon-btn-small transparent-color-btn"><span class="yotpo-icon yotpo-icon-cross"></span></div> </div> <div class="yotpo-footer yotpo-animation-opacity"> <div class="connect-wrapper"> <div class="form-element name-input"> <label class="y-label">Use your name:</label> <input placeholder="" maxlength="40" name="display_name" autocomplete="off" class="y-input"> </div> <div class="form-element email-input"> <label class="y-label">Email:</label> <input placeholder="" name="email" autocomplete="off" class="y-input"> </div> <div class="yotpo-clr"></div> </div> </div> <input type="button" value="Post" class="yotpo-default-button primary-color-btn yotpo-submit yotpo-disabled"> <div class="yotpo-clr"></div> </div> </div> <div class="yotpo-messages"> <div data-type="pending-for-question-approval" class="yotpo-thank-you yotpo-hidden"> <div class="yotpo-icon-btn transparent-color-btn"><span class="yotpo-icon yotpo-icon-cross"></span></div> <div class="yotpo-thankyou-header text-3xl"> <span class="yotpo-icon yotpo-icon-heart"></span> <span>Thank you for posting a question!</span> </div> <div class="yotpo-thankyou-content"> <span data-type="question-approval" class="yotpo-thankyou-confirmation">Please click on the link in the confirmation email we just sent you to submit your question.<br><br></span> <span class="yotpo-thankyou-publish">Your question will appear on the site once someone answers it.</span> </div> </div> </div> <div class="yotpo-small-box yotpo-nav reviews 0"> <div class="yotpo-nav yotpo-nav-primary"> <ul> <li data-content="yotpo-reviews-b9215481-24c2-4197-897c-17d0d21e196b" data-type="reviews" class="yotpo-nav-tab yotpo-active"> <div class="yotpo-nav-wrapper"> <span>Reviews</span> <span class="nav-tab-sum yotpo-reviews-nav-tab-sum">(1)</span> </div> </li> <li data-content="yotpo-questions-b9215481-24c2-4197-897c-17d0d21e196b" data-type="questions" class="yotpo-nav-tab "> <div class="yotpo-nav-wrapper"> <span>Questions</span> <span class="yotpo-nav-tab-sum">(0)</span> </div> </li> </ul> <div class="yotpo-icon-btn-big transparent-color-btn yotpo-visible-mobile"> <span class="yotpo-icon yotpo-icon-three-lines"></span> </div> <div class="yotpo-dropdown-wrapper mobile-collapse"> <div class="yotpo-menu-mobile-collapse yotpo-hidden-mobile"> <div class="yotpo-nav-dropdown-category yotpo-visible-mobile write-review-button"> <span class="yotpo-icon yotpo-icon-write"></span> <span class="y-label">write a review</span> </div> <div class="yotpo-nav-dropdown-category yotpo-visible-mobile write-question-button"> <span class="yotpo-icon yotpo-icon-write"></span> <span class="y-label">ask a question</span> </div> </div> </div> <div class="yotpo-clr"></div> <div class="yotpo-clr"></div> </div> </div> <div class="yotpo-nav-content"> <div data-host-widget="main_widget" id="yotpo-reviews-b9215481-24c2-4197-897c-17d0d21e196b" class="yotpo-reviews yotpo-active"> <div class="yotpo-preloader-wrapper"> <div class="yotpo yotpo-pre-loader"> <span class="yotpo-empty-stars"> <span class="yotpo-icon yotpo-icon-empty-star"></span> <span class="yotpo-icon yotpo-icon-empty-star"></span> <span class="yotpo-icon yotpo-icon-empty-star"></span> <span class="yotpo-icon yotpo-icon-empty-star"></span> <span class="yotpo-icon yotpo-icon-empty-star"></span> </span> <span class="yotpo-full-stars"> <span class="yotpo-icon yotpo-icon-star"></span> <span class="yotpo-icon yotpo-icon-star"></span> <span class="yotpo-icon yotpo-icon-star"></span> <span class="yotpo-icon yotpo-icon-star"></span> <span class="yotpo-icon yotpo-icon-star"></span> </span> </div> </div> <div data-review-id="0" class="yotpo-review yotpo-regular-box yotpo-hidden yotpo-template"> <div class="yotpo-header yotpo-verified-user "> <span class="yotpo-icon-profile yotpo-header-element pull-left"> <label class="yotpo-user-letter"></label> <span data-target="yotpo-tool-tip" data-type="toggleFade" class="yotpo-icon yotpo-icon-circle-checkmark yotpo-action-hover"></span> </span> <div class="yotpo-header-element"> <label class="y-label yotpo-user-name yotpo-font-bold pull-left"></label> <div class="label-with-tooltip pull-left"> <span data-target="yotpo-tool-tip" data-type="toggleFade" class="y-label yotpo-user-title yotpo-action-hover">Verified Reviewer</span> <div data-user-type="yotpo-verified-user" class="yotpo-tool-tip yotpo-animation-fade"> <div class="tool-tip-header"> <span>What is a</span> <span class="header-blue">Verified Reviewer</span> </div> <div class="tool-tip-content"> A Verified Reviewer is a shopper who has confirmed an email address, or connected a social network with Yotpo, providing an added level of transparency and trust. </div> </div> </div> <div class="yotpo-clr"></div> <span class="yotpo-review-stars"> <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span><span class="yotpo-icon yotpo-icon-empty-star pull-left"></span><span class="yotpo-icon yotpo-icon-empty-star pull-left"></span><span class="yotpo-icon yotpo-icon-empty-star pull-left"></span><span class="yotpo-icon yotpo-icon-empty-star pull-left"></span> </span> <div class="yotpo-clr"></div> </div> <div class="yotpo-header-element yotpo-header-actions"> <label class="y-label yotpo-review-date">07/08/16</label> </div> </div> <div class="yotpo-main"> <div class="content-title yotpo-font-bold"> </div> <div class="yotpo-clr"></div> <div class="yotpo-review-wrapper"> <div class="content-review"> </div> </div> <a rel="nofollow" target="_blank" href=""><div class="y-label product-link" data-product-id="">On </div></a> </div> <div class="yotpo-footer"> <div class="footer-actions"> <span data-target="share-review" data-type="toggleFade" class="yotpo-action"> <span class="yotpo-icon yotpo-icon-share"></span> <label class="y-label">share</label> <span class="yotpo-icon yotpo-icon-seperator"></span> </span> <span class="share-options-wrapper"> <span class="share-options share-review"> <span data-social="facebook"> <label class="y-label yotpo-action"> <a href="https://www.facebook.com/dialog/feed?app_id=226132034107547&amp;display=popup&amp;redirect_uri=http%3A%2F%2Fmy.yotpo.com%2Fshares%3Freview_id%3D" data-network="facebook" class="social-link popup-link"><i class="facebook share">facebook</i></a> </label> <span class="yotpo-icon yotpo-icon-dot"></span> </span> <span data-social="twitter"> <label class="y-label yotpo-action"> <a href="https://twitter.com/intent/tweet?via=yotpo" data-network="twitter" class="social-link popup-link"><i class="twitter share">twitter</i></a> </label> <span class="yotpo-icon yotpo-icon-dot"></span> </span> <span data-social="linkedin"> <label class="y-label yotpo-action"> <a href="https://www.linkedin.com/shareArticle?mini=true&amp;source=Yotpo" data-network="LinkedIn" class="social-link popup-link"><i class="LinkedIn share">LinkedIn</i></a> </label> <span class="yotpo-icon yotpo-icon-dot"></span> </span> <span data-social="google"> <label class="y-label yotpo-action"> <a href="https://plus.google.com/share?" data-network="google" class="social-link popup-link"><i class="google share">google</i></a> </label> <span class="yotpo-icon yotpo-icon-separator"></span> </span> <span class="yotpo-icon yotpo-icon-seperator"></span> </span> </span> </div> <div class="yotpo-helpful"> <label class="y-label label-helpful">Was this review helpful?</label> <div data-type="up" class="yotpo-icon-btn-small transparent-color-btn vote-btn"> <span class="yotpo-icon yotpo-icon-thumbs-up"></span> </div> <label data-type="up" class="y-label yotpo-sum vote-sum">0</label> <div data-type="down" class="yotpo-icon-btn-small transparent-color-btn vote-btn"> <span class="yotpo-icon yotpo-icon-thumbs-down"></span> </div> <label data-type="down" class="y-label yotpo-sum vote-sum">0</label> </div> <div class="footer-additional-actions"> <label class="y-label yotpo-review-date">07/08/16</label> </div> <div class="yotpo-clr"></div> </div> </div> <div data-review-id="27750757" class="yotpo-review yotpo-regular-box "> <div class="yotpo-header "> <span class="yotpo-icon-profile yotpo-header-element pull-left"> <label class="yotpo-user-letter">G</label> <span data-target="yotpo-tool-tip" data-type="toggleFade" class="yotpo-icon yotpo-icon-circle-checkmark yotpo-action-hover"></span> </span> <div class="yotpo-header-element"> <label class="y-label yotpo-user-name yotpo-font-bold pull-left">GK</label> <div class="yotpo-clr"></div> <span class="yotpo-review-stars"> <span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span><span class="yotpo-icon yotpo-icon-star pull-left"></span> </span> <div class="yotpo-clr"></div> </div> <div class="yotpo-header-element yotpo-header-actions"> <label class="y-label yotpo-review-date">07/05/16</label> </div> </div> <div class="yotpo-main"> <div class="content-title yotpo-font-bold"> Food for the awakened </div> <div class="yotpo-clr"></div> <div class="yotpo-review-wrapper"> <div class="content-review"> Perform is full of natural nourishment essential for day to day living and a powerful assistant to those who like to move. </div> </div> <a rel="nofollow" target="_blank" href="https://yotpo.com/go/cghmFKuz"><div class="y-label product-link" data-product-id="12673021">On thank_you_page</div></a> </div> <div class="yotpo-footer"> <div class="footer-actions"> <span data-target="share-review" data-type="toggleFade" class="yotpo-action"> <span class="yotpo-icon yotpo-icon-share"></span> <label class="y-label">share</label> <span class="yotpo-icon yotpo-icon-seperator"></span> </span> <span class="share-options-wrapper"> <span class="share-options share-review"> <span data-social="facebook"> <label class="y-label yotpo-action"> <a href="https://www.facebook.com/dialog/feed?app_id=226132034107547&amp;caption=%E2%98%85%E2%98%85%E2%98%85%E2%98%85%E2%98%85&amp;description=Perform+is+full+of+natural+nourishment+essential+for+day+to+day+living+and+a+powerful+assistant+to+those+who+like+to+move.&amp;display=popup&amp;link=https%3A%2F%2Fyotpo.com%2Fgo%2FrCaTYxl5&amp;name=Food+for+the+awakened&amp;redirect_uri=http%3A%2F%2Fmy.yotpo.com%2Fshares%3Freview_id%3D27750757" data-network="facebook" class="social-link popup-link"><i class="facebook share">facebook</i></a> </label> <span class="yotpo-icon yotpo-icon-dot"></span> </span> <span data-social="twitter"> <label class="y-label yotpo-action"> <a href="https://twitter.com/intent/tweet?text=Perform+is+full+of+natural+nourishment+essential+for+day+to+day+living+and+a+powerful+assistant+to+those+who+like+to+move.&amp;url=https%3A%2F%2Fyotpo.com%2Fgo%2Fmh1AjwF8&amp;via=yotpo" data-network="twitter" class="social-link popup-link"><i class="twitter share">twitter</i></a> </label> <span class="yotpo-icon yotpo-icon-dot"></span> </span> <span data-social="linkedin"> <label class="y-label yotpo-action"> <a href="https://www.linkedin.com/shareArticle?mini=true&amp;source=Yotpo&amp;summary=Perform+is+full+of+natural+nourishment+essential+for+day+to+day+living+and+a+powerful+assistant+to+those+who+like+to+move.&amp;title=Food+for+the+awakened&amp;url=https%3A%2F%2Fyotpo.com%2Fgo%2FzYWqYED3" data-network="LinkedIn" class="social-link popup-link"><i class="LinkedIn share">LinkedIn</i></a> </label> <span class="yotpo-icon yotpo-icon-dot"></span> </span> <span data-social="google"> <label class="y-label yotpo-action"> <a href="https://plus.google.com/share?url=https%3A%2F%2Fyotpo.com%2Fgo%2F1C4Ev0BI" data-network="google" class="social-link popup-link"><i class="google share">google</i></a> </label> <span class="yotpo-icon yotpo-icon-separator"></span> </span> <span class="yotpo-icon yotpo-icon-seperator"></span> </span> </span> </div> <div class="yotpo-helpful"> <label class="y-label label-helpful">Was this review helpful?</label> <div data-type="up" class="yotpo-icon-btn-small transparent-color-btn vote-btn"> <span class="yotpo-icon yotpo-icon-thumbs-up"></span> </div> <label data-type="up" class="y-label yotpo-sum vote-sum">0</label> <div data-type="down" class="yotpo-icon-btn-small transparent-color-btn vote-btn"> <span class="yotpo-icon yotpo-icon-thumbs-down"></span> </div> <label data-type="down" class="y-label yotpo-sum vote-sum">0</label> </div> <div class="footer-additional-actions"> <label class="y-label yotpo-review-date">07/05/16</label> </div> <div class="yotpo-clr"></div> </div> </div> </div> <div id="yotpo-questions-b9215481-24c2-4197-897c-17d0d21e196b" class="yotpo-questions "> <div class="yotpo-first-review"> <div class="yotpo-first-review-stars"> <span class="stars-wrapper"> <span class="yotpo-icon yotpo-icon-star"></span> <span class="yotpo-icon yotpo-icon-star"></span> <span class="yotpo-icon yotpo-icon-star"></span> <span class="yotpo-icon yotpo-icon-star"></span> <span class="yotpo-icon yotpo-icon-star"></span> </span> </div> <div class="yotpo-first-review-content"> <input type="button" value="be the first to ask a question" class="yotpo-default-button write-question-button write-first-question-button"> </div> </div> </div> </div> </div></div>
</div>
</div>
        </div>
		<!--div class="thanks-body">
			<div class="thanks-body-inner container">
									<h2>We look forward to seeing you again soon </h2>
				
									<div class="boxes">
						
															<a href="https://www.vivolife.co.uk/clear-nutrition/">
							
							<div class="box">
																	<img src="https://www.vivolife.co.uk/wp-content/uploads/2015/09/Trust-us-vivolife.jpg" alt="Box Image">
								
																	<p>Find out what we are doing different, and how to get the most out of Vivo Life</p>
															</div>

															</a>
							
						
															<a href="https://www.vivolife.co.uk/vblog/">
							
							<div class="box">
																	<img src="https://www.vivolife.co.uk/wp-content/uploads/2015/09/Learn-Vivo-Life2.jpg" alt="Box Image">
								
																	<p>Unsure of which supplements are right for you? Looking to improve the way you look, feel, and perform? Check out some of our most popular articles to help you get started!</p>
															</div>

															</a>
							
						
															<a href="https://www.vivolife.co.uk/vivo-rewards/">
							
							<div class="box">
																	<img src="https://www.vivolife.co.uk/wp-content/uploads/2015/09/Vivo-get-Rewarded-vivolife2.jpg" alt="Box Image">
								
																	<p>Get Rewarded for being healthy! If you are not already a Vivo member, then sign up today and earn money back on each purchase with us.</p>
															</div>

															</a>
							
											</div>
							</div>
		</div-->
		<!--<section class="guarantee">
            <div class="container">
                <div class="guarantee-container">
                    <div class="content">
                        <h2>THE VIVO CLUB</h2>
                        <p>If you haven't already joined the Vivo club, then join today, its FREE.<br/>
                        Get 5% back on every purchase, get 100 points instantly upon sign up, and have access to exclusive health tips and guides</p>
                        <a href="javascript:;" class="buy-btn clickonfunction">Join Now - Its FREE</a>
                        <script type="text/javascript">
                    	jQuery(".clickonfunction").click(function(){
							//alert('hello world');
							window.icegram.get_message_by_id(17853).show();
							});
                    </script>
                    </div>
                    
                </div>
            </div>
        </section>-->
        <section style="background:#fff;" class="content-section our-mission-section">
    <div class="container">
        <section class="coming-soon-header">
            <header class="section-heading">
                <h1>OUR MISSION</h1>
            </header>
        </section>
        <!-- protein-header -->

        <section class="description-section">
            <div class="container">
                <div class="description-text">
                    <div class="lc">
                <p style="text-align: center;"><span style="font-size: 14pt;">We’re on a mission to improve the health and performance of ONE MILLION PEOPLE around the world.</span></p>
                <p style="text-align: center;"><span style="font-size: 14pt;">This may sound crazy, but isn’t that what they say about all the best ideas?</span></p>
                <p style="text-align: center;"><span style="font-size: 14pt;">Being strong, sexy, healthy, fearless and confident shouldn’t be a challenge.</span></p>
                <p style="text-align: center;"><span style="font-size: 14pt;">We believe that EVERYBODY has a RIGHT to be all of these things, and so much more too.</span></p>
                <p style="text-align: center;"><span style="font-size: 14pt;">We created <strong>PERFORM</strong> to help you get there faster.</span></p>
                <p style="text-align: center;"><span style="font-size: 14pt;">What’s more, we’ll give 20p of EVERY SALE to <strong>Streetgames,</strong>&nbsp;t</span><span style="font-size: 14pt;">o help inspire the next generation to be active and vibrant too.</span></p>
</div>
                </div>
            </div>   
            <!-- /.container -->
        </section>
    </div>
</section>
<section data-image-src="https://www.vivolife.co.uk/wp-content/themes/vivo/images/landing-page/sustain-bg.jpg" data-parallax="scroll" class="sustain parallax-window" id="sustain">
	<div class="container">
	

		<div class="image-container">
			<img alt="Clouds" class="clouds spin2" src="//cdn.shopify.com/s/files/1/1374/7199/files/clouds_272967a4-e349-4229-b266-f9dde461557b.png">
			<img alt="Earth" class="earth spin" src="//cdn.shopify.com/s/files/1/1374/7199/files/earth_7704899b-35b7-4569-97e4-6e2cc1ee2c54.png">
			<img class="charity-icon" alt="Charity" src="//cdn.shopify.com/s/files/1/1374/7199/files/charity-button2_29370477-9b74-40ba-bd32-356ab321799d.png">
			<img class="recycle-icon" alt="Recycling" src="//cdn.shopify.com/s/files/1/1374/7199/files/recycle-icon_3a2d0a0b-2af6-4001-b372-732c7f7d72ae.png">
			<div class="recyclable">
				<h3>Recyclable Packaging</h3>

				<p>Our packaging is 100% recyclable, BPA free, and delivered in eco-friendly delivery boxes.</p>
			</div>
			<!-- /.recyclable -->
			<div class="charity">
				<h3>We Give 20p Of Each Sale To StreetGames.</h3>

				<p>Helping to change the lives of young people through the power of sport.
					www.streetgames.org</p>
			</div>
			<!-- /.charity -->
		</div>
		<!-- /.image-container -->
        
        <div class="image-container-rep">
        <div class="earth_cloud">
                    <img style="position:absolute;" src="//cdn.shopify.com/s/files/1/1374/7199/files/clouds_272967a4-e349-4229-b266-f9dde461557b.png" class="clouds spin2" alt="Clouds">
                    <img src="//cdn.shopify.com/s/files/1/1374/7199/files/earth_7704899b-35b7-4569-97e4-6e2cc1ee2c54.png" class="earth spin" alt="Earth">
                </div>
        <div class="charity-rep">
            	<img alt="Charity" src"//cdn.shopify.com/s/files/1/1374/7199/files/charity-button2_29370477-9b74-40ba-bd32-356ab321799d.png">
				<h3>We Give 20p Of Each Sale To StreetGames.</h3>
				<p>Helping to change the lives of young people through the power of sport.
					www.streetgames.org</p>
			</div>
			<!-- /.charity -->
            
			<div class="recyclable-rep">
            	<img alt="Recycling" src="//cdn.shopify.com/s/files/1/1374/7199/files/recycle-icon_3a2d0a0b-2af6-4001-b372-732c7f7d72ae.png">
				<h3>Recyclable Packaging</h3>
				<p>Our packaging is 100% recyclable, BPA free, and delivered in eco-friendly delivery boxes.</p>
			</div>
			<!-- /.recyclable -->
			
		</div>
		<!-- /.image-container -->
        
	</div>
	<!-- /.container -->
</section>
        <section class="container-full top-picks">
          <div class="container">
            <div class="container-inner">
              <h2>Join the movement now!</h2>
              <div class="dotted-line"></div>
              </div>
                  <section class="insta-area">
   <div class="container">
     <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12">
      <div id="sb_instagram" class="sbi sbi_col_4" data-options="{"showcaption": "1", "captionlength": "50", "captioncolor": "", "captionsize": "13", "showlikes": "1", "likescolor": "", "likessize": "13", "sortby": "none", "hashtag": "vivolifeuk, gopeform", "type": "hashtag", "hovercolor": "0,0,0", "hovertextcolor": "0,0,0", "hoverdisplay": "username,icon,date,instagram,", "hovereffect": "fade", "headercolor": "", "headerprimarycolor": "517fa4", "headersecondarycolor": "eeeeee", "disablelightbox": "false", "disablecache": "false", "location": "", "coordinates": "", "maxrequests": "5", "headerstyle": "circle", "showfollowers": "true", "showbio": "true", "carousel": "[false, false, true, false, 5000]", "imagepadding": "5", "imagepaddingunit": "px", "media": "all", "includewords": "", "excludewords": "", "sbiCacheExists": "true", "sbiHeaderCache": "false"}" data-cols="4" data-res="auto" data-num="10" data-id="1531380795" style="width:100%; padding-bottom: 10px; "> <div style="padding: 5px 10px; margin-bottom: 10px;" class="sb_instagram_header sbi_feed_type_hashtag sbi_header_type_generic"><a class="sbi_header_link" target="_blank" href="https://instagram.com/explore/tags/vivolifeuk"></a><div class="sbi_header_text"><a class="sbi_header_link" target="_blank" href="https://instagram.com/explore/tags/vivolifeuk"></a><h3 class="sbi_no_bio"><a class="sbi_header_link" target="_blank" href="https://instagram.com/explore/tags/vivolifeuk"></a><a target="_blank" href="https://instagram.com/explore/tags/vivolifeuk">#vivolifeuk&nbsp;</a><a target="_blank" href="https://instagram.com/explore/tags/gopeform">#gopeform&nbsp;</a></h3></div><div class="sbi_header_img"><div class="sbi_header_hashtag_icon"><i class="sbi_new_logo"></i></div></div>
        </div> </div>
  <!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/219018" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>   
       </div>
     </div>
    </div>
  </section>    </div>
        </section>

	</div>
<style>
  .container span {
    font-family: verdana;
}
  </style>